<div class="container-fluid">
  <div class="container">
    <div class="row divBig">
      <div class="col-lg-6 col-sm-12 divSmall-1">
        <div class="col-lg-6 col-sm-12 divSmall-1-1">
          <h4>Dữ liệu mẫu 1:</h4>
          <div *ngFor="let item of dulieu1; let i = index">
            <label>{{ item.chieu1 }}</label>
            <label>{{ item.chieu2 }}</label>
            <label>{{ item.chieu3 }}</label>
            <label>{{ item.chieu4 }}</label>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 divSmall-1-1">
          <div class="col-lg-3 divSmall-1-1-1">
            <h4>sum:</h4>
            <div *ngFor="let item of sum; let i = index">
              <label>{{ item.sum1 }}</label>
            </div>
            <h4>kết quả:</h4>
            <div *ngFor="let item of kq; let i = index">
              <label>{{ item.kq1 }}</label>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 divSmall-1-2">
          <input type="number" [(ngModel)]="this.bias" />
          <button type="submit" class="btnChay" (click)="KQ()">
            <h6 class="txtbtnChay">Chạy</h6>
            <i class="fas fa-arrow-circle-right"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 divSmall-2 divSmall-1-1">
        <h4>Kết quả hướng tới:</h4>
        <div *ngFor="let item of dauRaLyTuong; let i = index">
          <label>{{ dauRaLyTuong[i] }}</label>
        </div>
        <h4>Các weight:</h4>
        <div *ngFor="let item of weight; let i = index">
          <label>{{ item.weight1 }}</label>
        </div>
        <label>{{ this.bias + 1 }}</label>
      </div>
    </div>
  </div>
</div>
